*{
    margin: 0px;;
    padding: 5px;;
    transition:0.5s;
    font-family:Arial;
}
.container-fluid{
    width: 100%;
    background:linear-gradient( rgba(173, 172, 163, 0.5)50%, rgba(173, 172, 163, 0.5)50%)
}
.container{
    width: 1200px;
    height: 80px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items: center;

}
.logo{
    color:#fff;
    cursor:pointer;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin-right: 30px;
    cursor: pointer;
    color:#fff;
    font-weight: 400;
    font-size: 15px;

}
.active{
    color: #058283;
}
nav ul li:hover{
    color:#058283;

}
.btn{
    width: 120px;
    height: 45px;
    border-radius: 8px;
    border:none;
    background: #058283;
    color:#fff;
    cursor:pointer;
    font-size: 14px;

}
.btn:hover{
    background:#fff;
    color:#058283;

}
.content{
    width:1200px;
    margin:auto;
}
.content h1{
    font-size: 50px;
    color:#fff;
    margin-top:10px;
    line-height:65px;

}
.content p{
    font-size:16px;
    margin-top: 30px;
    line-height: 30px;
    letter-spacing: 1px;
}
.table{
    
    border-color:#058283;
    background-color:rgba(173, 172, 163, 0.5)
    
}
.head{
    color:gray;
}
.sub-head{
    color:gray;
} 
#table-order{
    padding-top: 30px;
    display: inline-table;
    background:linear-gradient( rgba(173, 172, 163, 0.5)50%, rgba(173, 172, 163, 0.5)50%)
  }
  #my_table{
    margin-top:10px;
    margin-left:10px;
    
    
}

  th {
    height: 5px;
  }
  td {
    text-align: center;
  }
  th {
    text-align: left;
  }
  td {
    height: 20px;
    vertical-align: bottom;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  th, td {
    border-bottom: 1px solid #ddd;
  }
  tr:hover {background-color:#058283}


.btn{
    background-color:#058283;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
 }
 .btn:hover{
    transform: scale(1.2);
}


.head{
    color:#fff;
}
.sub-head{
    color:#fff;
}

#ticket-attributes {

  margin-top:3px;
  display:grid;
  width: 700px;
  display:inline-table;
  background-color: rgba(173, 172, 163, 0.5);
}

.comment-input{
    border-radius: 100px;
    
  }
  .comment-button{
    border-radius: 30px;background:linear-gradient( rgba(173, 172, 163, 0.5)50%, rgba(173, 172, 163, 0.5)50%)

  }
  
  .comment-button:hover{
    transform: scale(1.3);
    transition: .4s;
    color:#058283;
    transition: .4s;
    background-color:#058283;
  }
  